{{ define "nav" }}
  {{ partial "nav" . }}
{{ end }}
{{ define "main" }}
<div class="bg-white px-6 lg:px-8">
  <div class="max-w-8xl mx-auto mt-24 font-sans text-lg text-grey-800 spaced-y-6">
    <h1 class="mt-2 text-3xl font-extrabold tracking-tight text-civic sm:text-4xl">{{.Title}}</h1>
    <div class="prose">
    {{.Content}}
    </div>
    <div class="mt-16">
      {{ range .Pages.ByDate.Reverse }}
      <div class="mb-16">
        {{ partial "resource.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end  }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end  }}
