<div class="relative bg-civic">
	<div class="absolute inset-0">
		<img class="w-full h-full object-cover" src="https://res.cloudinary.com/civicvision/image/upload/v1654247388/milafrerichs.com/resources/network.jpg" alt="">
		<div class="absolute inset-0 bg-indigo-800 mix-blend-multiply" aria-hidden="true"></div>
	</div>
	<div class="relative mx-auto py-16 sm:py-24 lg:py-32 max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
		<h2 class="text-base font-semibold uppercase tracking-wider text-white">Mehr als 10 Jahre Erfahrung</h2>
		<p class="mt-5 text-4xl lg:text-6xl font-extrabold tracking-tight text-white sm:text-4xl">Alles rum um (Linked) Open Data</p>
		<p class="max-w-xl mx-auto mt-5 text-xl text-blue-100 ">Wir helfen bei der Erstellung und Umsetzung von Offenen Daten Strategien und begleiten Sie von der ersten Idee bis zur automatisierten Veröffentlichung von Offenen Daten. Darüber hinaus beraten wir Sie in allen Fragen rund um Offene Daten. </p>
	</div>
</div>

