{{ define "nav"  }}
{{ end  }}
{{ define "main"  }}

<div class="flex min-h-full flex-col">
<header class="overflow-hidden bg-slate-100 lg:bg-transparent lg:px-5">
  <div class="mx-auto grid max-w-6xl grid-cols-1 grid-rows-[auto_1fr] gap-y-16 pt-16 md:pt-20 lg:grid-cols-12 lg:gap-y-20 lg:px-3 lg:pb-36 lg:pt-20 xl:py-32">
    <div class="relative flex items-end lg:col-span-5 lg:row-span-2">

<div class="absolute -bottom-12 -top-20 left-0 right-1/2 z-10 rounded-br-6xl bg-blue-600 text-white/10 md:bottom-8 lg:-inset-y-32 lg:left-[-100vw] lg:right-full lg:-mr-40"><svg aria-hidden="true" class="absolute inset-0 h-full w-full"><defs><pattern id=":S1:" width="128" height="128" patternUnits="userSpaceOnUse" x="100%" y="100%" patternTransform="translate(112 64)"><path d="M0 128V.5H128" fill="none" stroke="currentColor"></path></pattern></defs><rect width="100%" height="100%" fill="url(#:S1:)"></rect></svg></div>
      <div class="relative z-10 mx-auto flex w-64 rounded-xl shadow-xl md:w-full md:-top-24 bg-tv-screen bg-no-repeat bg-center bg-cover py-10 px-6" >
<img alt="" fetchpriority="high" width="960" height="1284" decoding="async" data-nimg="1" class="w-full" style="color:transparent" srcset="" src="https://res.cloudinary.com/civicvision/image/upload/v1714889977/offenedatenberatung/resources/images/workshop-odd-muenchen-slides.png">
      </div>
    </div>
    <div class="lg:col-span-7 lg:pb-14 lg:pl-16 lg:pr-0 px-4 relative sm:px-6 xl:pl-20" style=" "><div class="hidden lg:absolute lg:-top-32 lg:bottom-0 lg:left-[-100vw] lg:right-[-100vw] lg:block lg:bg-slate-100"></div><figure class="relative mx-auto max-w-md text-center lg:mx-0 lg:text-left" style="
"><div class="flex justify-center text-blue-600 lg:justify-start" style=" visibility: hidden;
"><div class="flex gap-1"><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
  <svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
  <svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
  </svg>
  <svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
  </svg>
    </div>
    </div>
    <blockquote class="mt-2">
      <p class="font-display text-md font-medium text-slate-900">Wie kann Linked Open Data die Verwaltung verbessern. Beispiele und Handlungsempfehlungen</p>
    </blockquote>
    <figcaption class="mt-2 text-sm text-slate-500" style="
    visibility: hidden;
"><strong class="font-semibold text-blue-600 before:content-['—_']">Stacey Solomon</strong>, Founder at Retail Park
    </figcaption>
    </figure>
    </div>
    <div class="bg-white pt-16 lg:col-span-7 lg:bg-transparent lg:pl-16 lg:pt-0 xl:pl-20">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="font-display text-4xl font-extrabold text-slate-900 sm:text-5xl">Linked Open Data in der Verwaltung</h1>
        <p class="mt-4 text-2xl text-slate-600">Zusammenfassung und Resourcen für den Workshop auf dem Open Data Day in München am 4.5.2024</p>
        <div class="mt-8 flex gap-4">
          <a class="inline-flex justify-center rounded-md py-1 px-4 text-base font-semibold tracking-tight shadow-sm focus:outline-none bg-blue-600 text-white hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 active:bg-blue-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-blue-600" color="blue" variant="solid" href="/folien/Linked Open Data für Kommunen 040524.pdf" target="_blank">Folien herunterladen</a>
          <a class="inline-flex justify-center rounded-md border py-[calc(theme(spacing.1)-1px)] px-[calc(theme(spacing.4)-1px)] text-base font-semibold tracking-tight focus:outline-none border-blue-300 text-blue-600 hover:border-blue-400 hover:bg-blue-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 active:text-blue-600/70 disabled:opacity-40 disabled:hover:border-blue-300 disabled:hover:bg-transparent" variant="outline" color="blue" href="/kontakt">Kontakt</a>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="summary" aria-labelledby="summary-title" class="scroll-mt-14 py-16 sm:scroll-mt-32 sm:py-20 lg:py-32">
    <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
        <h2 class="inline-flex items-center rounded-full px-4 py-1 text-blue-600 ring-1 ring-inset ring-blue-600" id="summary-title">
            <span class="font-mono text-sm" aria-hidden="true"></span><span class="ml-3 text-base font-medium tracking-tight">Zusammenfassung</span>
        </h2>
        <div class="mt-8 prose">
          {{.Content}}
        </div>
    </div>
</section>

<section id="resources" aria-labelledby="resources-title" class="scroll-mt-14 py-16 sm:scroll-mt-32 sm:py-20 lg:py-24">
    <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
        <h2 class="inline-flex items-center rounded-full px-4 py-1 text-blue-600 ring-1 ring-inset ring-blue-600" id="resources-title">
            <span class="font-mono text-sm" aria-hidden="true"></span><span class="ml-3 text-base font-medium tracking-tight">Services</span>
        </h2>
        <p class="mt-8 font-display text-4xl font-bold tracking-tight text-slate-900">Hier eine Übersicht der Services die ich im Bereich Offener Daten anbiete.</p>
        <p class="mt-4 text-lg tracking-tight text-slate-700"></p>
    </div>
    <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-7xl lg:px-8 mt-16">
        <ol role="list" class="-mx-3 grid grid-cols-1 gap-y-10 lg:grid-cols-3 lg:text-center xl:-mx-12 xl:divide-x xl:divide-slate-400/20">
            <li class="grid auto-rows-min grid-cols-1 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12">
                <div class="relative h-48 overflow-hidden rounded-2xl shadow-lg sm:h-60 lg:h-40">
                    <div class="absolute inset-0 flex items-center justify-center bg-[radial-gradient(#2C313D_35%,#000)]">
                        <img alt="" class="absolute inset-0 h-full w-full object-cover" loading="lazy" decoding="async" data-nimg="1" style="color: transparent;" src="https://res.cloudinary.com/civicvision/image/upload/v1714806921/offenedatenberatung/resources/images/uri-konzept.png" />
                    </div>
                </div>
                <div>
                    <h3 class="text-base font-medium tracking-tight text-slate-900">URI Konzept Linked Open Data</h3>
                    <p class="mt-2 text-sm text-slate-600">Ich helfe Ihnen ein URI Konzept zu erstellen und Subjekt Pages anzulegen. Damit Ihre Linked Open Data verlinkt und entdeckt werden können.</p>
                </div>
            </li>
            <li class="grid auto-rows-min grid-cols-1 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12">
                <div class="relative h-48 overflow-hidden rounded-2xl shadow-lg sm:h-60 lg:h-40">
                    <div class="absolute inset-0 flex items-center justify-center">
                        <img
                            alt=""
                            loading="lazy"
                            width="4096"
                            height="4096"
                            decoding="async"
                            data-nimg="1"
                            class="absolute inset-0 h-full w-full object-cover"
                            style="color: transparent;"
                            src="https://res.cloudinary.com/civicvision/image/upload/v1714806917/offenedatenberatung/resources/images/csv-lod.png"
                        />
                    </div>
                </div>
                <div>
                    <h3 class="text-base font-medium tracking-tight text-slate-900">Von CSV zu Linked Open Data</h3>
                    <p class="mt-2 text-sm text-slate-600">Gemeinsam transfomieren wir Ihre CSV Dateien zu Linked Open Data. Von recherchieren des besten Vokabulars bis zur transformation der Daten zu LOD stehe ich Ihnen zur Seite.</p>
                </div>
            </li>
            <li class="grid auto-rows-min grid-cols-1 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12">
                <div class="relative h-48 overflow-hidden rounded-2xl shadow-lg sm:h-60 lg:h-40">
                    <div class="absolute inset-0 flex items-center justify-center bg-[#6366F1]">
                        <img class="absolute inset-0 h-full w-full object-cover" alt="" loading="lazy" width="160" height="144" decoding="async" data-nimg="1" style="color: transparent;" src="https://res.cloudinary.com/civicvision/image/upload/v1714806917/offenedatenberatung/resources/images/statistikdaten-datacube.png" />
                    </div>
                </div>
                <div>
                    <h3 class="text-base font-medium tracking-tight text-slate-900">Statisikdaten mit DataCubes als Linked Open Data</h3>
                    <p class="mt-2 text-sm text-slate-600">Um Ihre Statistikdaten HVD-konform zu veröffentlichen helfe ich Ihnen diese mit dem DataCube Vokabular als LOD zu veröffentlichen.</p>
                </div>
            </li>
        </ol>
    </div>
</section>

    <section
      id="author"
      aria-labelledby="author-title"
      class="relative scroll-mt-14 pb-3 pt-8 sm:scroll-mt-32 sm:pb-16 sm:pt-10 lg:pt-16"
    >
      <div class="absolute inset-x-0 bottom-0 top-1/2 text-slate-900/10 [mask-image:linear-gradient(transparent,white)]">
        <GridPattern x="50%" y="100%" />
      </div>
      <div class="relative mx-auto max-w-5xl pt-16 sm:px-6">
        <div class="bg-slate-50 pt-px sm:rounded-6xl">
          <div class="relative mx-auto -mt-16 h-44 w-44 overflow-hidden rounded-full bg-slate-200 md:float-right md:h-64 md:w-64 md:[shape-outside:circle(40%)] lg:mr-20 lg:h-72 lg:w-72">
            <img
              class="absolute inset-0 h-full w-full object-cover"
              src="https://res.cloudinary.com/civicvision/image/upload/c_thumb,g_custom:face,h_600,w_600/v1586772376/milafrerichs.com/IMG_0583.jpg"
              alt=""
              sizes="(min-width: 1024px) 18rem, (min-width: 768px) 16rem, 11rem"
            />
          </div>
          <div class="px-4 py-10 sm:px-10 sm:py-16 md:py-20 lg:px-20 lg:py-32">

    <h2
      class='inline-flex items-center rounded-full px-4 py-1 text-blue-600 ring-1 ring-inset ring-blue-600' id="author-title"
    >
      <span className="ml-3 h-3.5 w-px bg-blue-600/20" />
      <span className="ml-3 text-base font-medium tracking-tight">
              Workshop-Leiter
      </span>
    </h2>
            <p class="mt-8 font-display text-5xl font-extrabold tracking-tight text-slate-900 sm:text-6xl">
              <span class="block text-blue-600">Mila Frerichs –</span> Das Potential von Offenen Daten auszunutzen ist meine Mission.
            </p>
            <p class="mt-4 text-lg tracking-tight text-slate-700">
Ich arbeite seit mehr als 10 Jahren mit Offenen Daten und habe mein ehrenamtliches Engagement zum Beruf gemacht. Die jahrelange Erfahrung im Ehrenamt bei Code for America und Code for Germany setzte ich nun als Berater für Offene Daten ein, um Kommunen zu helfen, Open Data zum Erfolg zu bringen. Das Potential von Offenen Daten auszuschöpfen ist meine Mission. 
            </p>
            <p class="mt-8">
            </p>
          </div>
        </div>
      </div>
    </section>
</div>
{{ end  }}
{{ define "footer"  }}
  {{ partial "footer" . }}
{{ end  }}
